.footer{
    padding-top: 60px;
    padding-bottom: 30px;
    background: black;
    background-color: orange;
}

.footer__text{
    line-height: 30px;
    color: black;
}

.footer__quick-links ul li{
    background: transparent !important;
}

.footer__quick-links ul li a{
    color: black;
}

.quick__links-title {
    margin-top: 5px;
    color: black;
    font-style: 1.1rem;
}

.footer__contact li span,
.footer__contact li p{
    color: black;
}

.footer__contact li span svg{
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-left: 50px;
}

.footer__contact li p{
    font-size: 0.9rem;
}

.footer__copyright{
    color: black;
    font-size: 0.9rem;
    margin-top: 50px;
    text-align: center;
}

.list-group-item {
    /* margin-left: 35px; */
}
